body {
/* Background image */
background-image: url("http://i.imgur.com/eylxuI6.jpg");

color: #FFFFFF;
font-family: Verdana,Arial;
font-size: 80%;
background-attachment: fixed;
background-color: #000000;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

a {
color: #FFFFFF;
text-decoration: none;
}
small {
color: #FFFFFF;
font-size: 80%;
text-decoration: none;
text-transform:capitalize;
}

#searchBox {
background-color:rgb(150,200,255);
border-color: #FFFFFF;
border-style: solid;
border-width: 1px;
color: #FFFFFF;
font-size: 80%;
height: 14px;
text-align: center;
text-transform: capitalize;
} 

td.td1.table_header:nth-child(1), td.td2.table_header:nth-child(1){
width:5%
}
td.td1.table_header:nth-child(2), td.td2.table_header:nth-child(2){
width:65%
}
td.td1.table_header:nth-child(3), td.td2.table_header:nth-child(3){
width:5%
}
td.td1.table_header:nth-child(4), td.td2.table_header:nth-child(4){
width:10%
}
td.td1.table_header:nth-child(5), td.td2.table_header:nth-child(5){
width:10%
}
td.td1.table_header:nth-child(6), td.td2.table_header:nth-child(6){
	
}

table{
width: 75%;
margin-left: 12.5%;
margin-right: 12.5%;
}

.header_title{
border-color: #FFFFFF;
font-size: 200%;
border-width: 1px 1px 1px 1px;
border-style: solid;
padding: 2px;
background-color:rgba(150,200,255,0.5);
}

.td1, .td2, .table_header, .status_not_selected, .status_selected{
border-width: 1px 1px 1px 1px;
border-style: solid;
padding: 2px;
background-color:rgba(150,200,255,0.5);
}