body {
/* Background image */
background-image: url("http://i.imgur.com/eylxuI6.jpg");

color: #FFFFFF;
font-family: Verdana,Arial;
font-size: 80%;
background-attachment: fixed;
background-color: #000000;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

a {
color: #FFFFFF;
text-decoration: none;
}
small {
color: #FFFFFF;
font-size: 80%;
text-decoration: none;
text-transform:capitalize;
}

#searchBox {
background-color:rgb(150,200,255);
border-color: #FFFFFF;
border-style: solid;
border-width: 1px;
color: #FFFFFF;
font-size: 80%;
height: 14px;
text-align: center;
text-transform: capitalize;
} 

/* shrink the Tags column */
td.td1:nth-child(6), td.td2:nth-child(6), td.table_header:nth-child(6){
  width:10%;
}

table{
width: 75%;
margin-left: 12.5%;
margin-right: 12.5%;
background-color:rgba(150,200,255,0.5);
}

td,th,table{
border: 1px solid white;
border-collapse:collapse;
padding:2px;

}

.header_title{
font-size: 200%;
}

